{% extends "assessment/base.html" %}
{% load static %}
{% block content %}
    <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="{% static 'assessment/img/intro-img.svg' %}" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->
    <div id="2">
      Awareness 
    </div>
    <div id="3">
      helpline  
    </div>
    <div id="4">
      About Us
    </div>
{% endblock content %}
